# Add to IDF_EXTRA_ACTIONS_PATH the path to current repository root
# This way our idf.py actions are available anywhere we are inside this repository
export IDF_EXTRA_ACTIONS_PATH="$(expand_path .)"
# Add our Python modules to PYTHONPATH, to streamline their development
# and debugging
path_add PYTHONPATH $(expand_path ./src/)
