[submodule "external/erpc"]
	path = external/erpc
	url = https://github.com/Kerr-srl/erpc.git
[submodule "external/tinyproto"]
	path = external/tinyproto
	url = https://github.com/Kerr-srl/tinyproto.git
[submodule "external/FreeRTOS-Kernel"]
	path = external/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
