CONFIG_ERPC_DEFAULT_BUFFERS_COUNT=8

# Print and halt.
# Print and reboot is not handy to work with.
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y

CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
CONFIG_BOOTLOADER_LOG_LEVEL=2

CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL=3

CONFIG_FREERTOS_HZ=1000
